* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.bg-grey {
  background: #f7f7f7;
}

#about,
#job-info {
  padding: 0;
  margin-bottom: 20px;
}

#nav-bar {
  text-align: center;
}

.section-title {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}

/* banner session */
#banner {
  width: 100%;
  position: relative;
  background-image: url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 55vh;
  color: black;
}

.banner-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000004f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 14vh;
}

.banner-title h1 {
  font-size: 3rem;
  font-weight: 500;
}

.banner-title p {
  font-size: 1.5rem;
}

/* navbar session */
/* nav.container {
  display: grid;
  grid-template-columns: 140px 140px 380px 140px 140px;
  justify-content: center;
  align-items: center;
  padding: 0;
  position: relative;
} */

.nav-avatar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  border: 8px solid #fff;
  border-radius: 50%;
  overflow: hidden;
  width: 140px;
  height: 150px;
  box-shadow: 0px 0px 3px 1px #ccc;
}

.container-child {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  display: block;
}

.container-child i {
  color: #199cdb;
}

.container-child:hover {
  background: #eee;
}

.info-name h1 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}

.info-name span {
  font-weight: 300;
  font-size: 0.9rem;
  color: #bebebe;
}

/* about session */
.about-container {
  display: flex !important;
}

.about-container h1 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
  margin: 40px 0 45px;
}

#target {
  padding: 50px 50px 40px 80px;
  width: 50%;
}

#target p {
  font-size: 0.9rem;
  line-height: 1.4;
  color: #727272;
  font-style: italic;
}

#personal-info {
  padding: 50px 50px 40px 40px;
  width: 50%;
  background-color: #b1b1b157;
}

#personal-info h1 {
  margin: 40px 0 30px;
}

.info {
  margin-bottom: 20px;
}

.info li {
  list-style: none;
  font-size: 0.9rem;
  line-height: 1.4;
  color: #727272;
  margin-bottom: 5px;
}

.info li span {
  font-size: 0.9rem;
  line-height: 1.4;
  color: rgba(12, 12, 12, 0.884);
  font-weight: 600;
}

.personal-icon {
  text-decoration: none;
  color: #199cdb;
}

.personal-icon:hover,
.personal-icon:hover i {
  color: #199edb54;
}

/* Job session */
.job-card {
  min-height: 21vh;
  height: 100%;
  border: 1px solid #cccccc45;
  padding: 30px 20px 30px 40px;
}

.job-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 40px;
}

.job-title h1 {
  font-size: 1.7rem;
  line-height: 1;
  font-weight: 500;
}

.job-title i {
  font-size: 2.5rem;
}

.job-lists {
  color: #199cdb;
  padding-left: 10px;
  margin-bottom: 35px;
}

.job-list-title {
  font-size: 0.9rem;
  text-transform: capitalize;
  color: rgba(12, 12, 12, 0.884);
  font-weight: 600;
}

.job-timeline {
  margin-bottom: 10px;
}

.job-timeline span {
  color: #727272;
  font-size: 0.8rem;
  font-style: italic;
}

.highlight {
  color: #fff !important;
  background-color: #199cdb;
  padding: 0 10px;
  border-radius: 8px;
}

.job-list-desc {
  line-height: 1.4;
  color: #727272;
  font-size: 0.9rem;
}

.job-contents {
  display: none;
}

.job-hobby {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-icons {
  display: flex;
  flex-direction: column;
  height: 77px;
  justify-content: space-around;
  align-items: center;
}

.job-icons span {
  color: #727272;
  font-size: 0.9rem;
}

.job-icon {
  width: 50px;
  height: 50px;
  border: 1px solid #199cdb;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}

.job-icon i {
  font-size: 1.8rem;
  color: #199cdb;
}

.job-rates {
  display: flex;
  align-items: center;
}

.job-rate {
  margin-right: 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  width: 70px;
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 12px;
}

.active {
  border: 2px solid #199cdb;
  background-color: #199cdb;
}

/* Certificate session */
.cert-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 27px;
}

.cert-card {
  padding: 16px;
  display: flex;
  width: 50%;
}

.cert-card:not(:last-child) {
  border-bottom: 2px solid #d6c08d;
}

.cert-img {
  display: flex;
  width: 235px;
  height: 110px;
}

.cert-card:nth-child(odd) {
  padding-left: 0;
}

.cert-card:nth-child(odd) .cert-img {
  justify-content: start;
}

.cert-card:nth-child(even) .cert-img {
  padding-left: 20px;
  border-left: 2px solid #d6c08d;
}

.cert-img img {
  width: 90%;
  height: 100%;
}

.cert-detail-desc {
  line-height: 1.4;
  color: #727272;
  font-size: 0.9rem;
}

.cert-detail-title {
  margin-bottom: 10px;
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(12, 12, 12, 0.884);
  font-weight: 600;
}

/* Project session */
#project {
  margin-bottom: 20px;
}
.project-cards {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.project-card {
  width: 100%;
}
.project-card-img {
  width: 100%;
  height: 225px;
}
.project-detail {
  margin-top: -5px;
}
.project-title {
  padding: 18px;
  border: 1px solid #cccccc45;
}

.project-title h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: rgba(12, 12, 12, 0.884);
  font-weight: 600;
}
.project-position {
  padding: 18px;
  border-left: 1px solid #cccccc45;
  border-right: 1px solid #cccccc45;
}

.project-position span {
  color: #727272;
  font-size: 0.9rem;
  font-weight: 500;
  margin-right: 18px;
}

.project-position span i {
  margin-right: 10px;
  color: #000;
  font-weight: 700;
}

.project-desc {
  border-collapse: collapse;
  border: 1px solid #cccccc45;
  min-height: 230px;
}

.project-desc td,
.project-desc th {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 500;
  text-align: start;
  vertical-align: top;
  border-top: 1px solid #cccccc45;
  border-bottom: 1px solid #cccccc45;
  padding: 10px;
}

.project-desc th {
  width: 90px;
}

/* footer session */

.footer-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.footer-icon {
  color: #727272;
  font-size: 0.8rem;
  font-weight: 400;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.footer-icon i {
  color: #199cdb;
  font-size: 1.8rem;
  margin-right: 5px;
}

.footer-icon:hover,
.footer-icon:hover i {
  color: #199edb54;
}

.btn {
  display: none;
}

.active-content {
  display: block !important;
}

.project-link {
  text-decoration: none;
}

/* section Project Charter */
.board {
  width: 100vw;
  height: 100%;
  padding: 1rem;
}

.board-goals,
.board-team,
.board-scopes,
.board-primary,
.board-right {
  background-color: #fff;
  padding: 1.5rem;
}

.board-goals,
.board-team {
  margin-bottom: 20px;
}

.board-right {
  height: 100%;
}

.title {
  text-transform: capitalize;
  color: rgb(13, 110, 253);
  border-bottom: 2px solid #bbb;
  padding-bottom: 10px;
}

.goals-content {
  padding: 10px 0px 20px 26px;
  display: flex;
  width: 100%;
  border-bottom: 2px solid #ddd;
}

.team-icon,
.goals-icon {
  display: flex;
  align-items: center;
  width: 3.4rem;
}

.team-icon i,
.goals-icon i {
  font-size: 1.7rem;
}

.content-title {
  text-transform: capitalize;
  margin-bottom: 0;
  font-weight: 700;
}

.content-desc {
  line-height: 1.2;
  margin-bottom: 0;
}

.board-team .goals-content,
.board-primary .goals-content,
.board-right .goals-content {
  border: none;
}

.content {
  padding-right: 0;
  width: 100%;
}

.board-right .goals-content .content {
  border-bottom: 2px dashed #199cdb;
  padding-bottom: 10px;
}

.team-icon {
  width: 50px;
  height: 50px;
}

.timeline-btn {
  width: 65px;
  height: 55px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: -10px;
  background-color: #9e88ff;
  border: 1px solid #000000b9;
  color: #fff;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.timeline-btn:hover {
  cursor: default;
}

.scopes-content .content .content-title {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-weight: 600;
}

.scopes-content {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 1rem 0 1rem;
}

.scopes-content .content .content-desc {
  margin-bottom: 0.8rem;
  line-height: 1.2;
}

.scopes-content .content {
  padding-right: 6rem;
}
