@media (min-width: 426px) and (max-width: 768px) {
  .nav-avatar {
    display: none;
  }
  section .container {
    padding: 30px 0;
  }
  nav.container {
    grid-template-columns: 140px 140px 67px 140px 140px;
    padding: 0;
  }
  .job-container {
    grid-template-columns: repeat(2, 343px);
    grid-template-rows: auto;
  }
  .job-card {
    height: fit-content;
  }
  .cert-container {
    width: 100%;
  }
  .cert-card {
    flex-direction: column;
    width: 50%;
  }
  .cert-img {
    width: 100%;
    height: unset;
  }
  .cert-card:nth-child(even) .cert-img {
    padding-left: 0;
    border-left: 0;
  }
  .cert-card:nth-child(even) {
    position: relative;
  }
  .cert-card:nth-child(even)::before {
    content: "";
    position: absolute;
    top: 15px;
    left: -7px;
    width: 1.5px;
    height: 82%;
    background: #d6c08d;
  }
  #project {
    min-height: 800px;
  }
  .project-cards {
    grid-gap: 10px;
  }
  .project-card {
    width: 100%;
  }
  .project-card-img {
    height: unset;
  }
  .project-position {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .project-info {
    display: flex;
    flex-direction: column;
  }
  .project-info span {
    margin-right: 0;
  }
}
